.navbar{
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding: 0px 30px;
}

.left-side{
    display: flex;
    align-items: center;
}

.right-side{
    display: flex;
    align-items: center;
}


.home {
    margin-right: 20px;
}
.icon{
    font-size: 30px !important;
}